

<form id="browseIng" class="searchBtn" ng-submit="getBooks()">
  <input ng-model="title" ng-model="thumbnail" type="text" placeholder="enter a book title">
  <input id="browseBtn" type="submit" class="btn" value="Search">
</form>





<div class="container">
  <div class="row">
    <div class="card card-cascade browseCard col-sm-4" ng-repeat="(key , newBook) in data">
        <div class="card-block text-center">
            <h4 class="card-title"><strong>{{newBook.volumeInfo.title}}</strong></h4>
            <h6><span ng-repeat="author in newBook.volumeInfo.authors"><h6>{{author}}</h6></span></h6>
               <a type="button" id="desBtn" class="btn-floating btn-small btn-" ng-click="loadDes(newBook.volumeInfo.description)" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-book fa-lg"></i></a>


        <div class="view overlay hm-white-slight">
            <img id="browseBookImg" ng-src="{{newBook.volumeInfo.imageLinks.thumbnail}}" class="img-fluid" alt="">
            <a>
                <div class="mask waves-effect waves-light"></div>
            </a>
        </div>


          <a type="button" id="browseAddBtn" class="btn-floating btn-small btn-fb" ng-click="addBooks(newBook)"></i>I've Read This</a>






        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</div>

<!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
        <!--Content-->
              <div class="modal-content">
            <!--Header-->
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title w-100" id="myModalLabel">Description</h4>
                  </div>
            <!--Body-->
                  <div class="modal-body">
                  {{description}}
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>

          </div>
      </div>
      </div>
      </div>
