<div ng-repeat="(key , newBook) in data" mg-class="newBook()" style="width: 20rem;">
  <img class="card-img-top" ng-src="{{newBook.volumeInfo.imageLinks.thumbnail}}" alt="Book Cover Here">
  <div class="card-block">
    <h4 class="card-title">{{newBook.volumeInfo.title}} by
    </h4>
    <span ng-repeat="author in newBook.volumeInfo.authors"><h4>{{author}}</h4></span>
    <p class="card-text">{{newBook.volumeInfo.description}}</p>
    <input class="reviewInput" type="textarea" ng-model="review">
    <button class="add-btn" ng-click="addReview(key, review); review= '' ">Add Review</button>
    <button class="add-btn" ng-click="addReview(key, review); review= ''">Edit Review</button>
    <a md-button ng-click="deleteBook(key)" href="#/profile" class="btn btn-primary">Delete Book</a>
    <p>{{review}}</p>



    <p ng-show="review === ''">{{newBook.review}}</p>
    </div>
  </div>
</div>
