body {
  background-color: lightgrey;
}

.bookCard {
  padding-left: 2em;
  border: solid;
  border-color: #ffefd5;
  display: inline-block;
  height: 300px;
  font-size: .8rem;
  background-color: #f5f5dc;
  overflow: scroll;

}

/*#navBar {
  background-color: #d8bfdb;
}*/
.card-title {
  font-size: .8rem;
}

.card-author {
  font-size: .8rem;
}



.browseCard {
  padding-left: 5em;
  padding-right: 5em;
  border: solid;
  border-color: #ffefd5;
  display: inline-block;
  height: 345px;
  overflow: scroll;
  background-color: #f5f5dc;
}

#desBtn {
  color: black;
}

#bookImg {
 height: 200px;
 display: center;
}

#trashBtn {
  color: black;
}

#editBtn {
  color: teal;
}

#descBtn {
  color: black;
}

#browseAddBtn {
  padding-top: 5em;
  color: black;
  font-size: .8rem;
}

#browseBookImg {
  height: 200px !important;
  display: center !important;
}

.searchBtn {
  color: teal;
}

#browseIng {
  padding-left: 30em;
  padding-right: 30em;
}

#browseBtn {
}
